tr,td{
    border:1px;
    border-style: solid;
}
td{
    height: 50px;
    width: 50px;
}

td.Uncolored {
    background-color: white;
}
td.Red {
    background-color: red;
}
td.Blue {
    background-color: blue;
}
td.Green {
    background-color: green;
}
td.Yellow {
    background-color: yellow;
}